<div class="card">
    <div class="card-badge spyhce-yellow">
      <div class="badge-content">3</div>
    </div>
    <div class="card-body">
      <div class="card-title">Jobs</div>
      <div class="card-text">
        <div class="header"></div>
        <div class="content">
          <p>
            We're also (always) looking for brand new teammates to join our 
            Python / Django team. Our bread & butter are web apps and web systems,
             and we're pretty good at building them! 
          </p> 
          <p>
            In fact, if you discover you like this technology as much as we do, 
            once you've succesfully completed our internship we'd be ready to offer a real, 
            full-time job (with student perks included so you can also continue your education, 
            if you're still a student).
          </p>
        </div>
        <div class="dropdown-divider"></div>
        <!--  -->
        <div class="header">Benefits of working at Spyhce</div>
        <div class="content">
          <ul>
            <li>Non-corporate relaxed environment</li>
            <li>Flexible hours</li>
            <li>Experienced colleagues willing to share their knowledge</li>
            <li>Periodical knowledge transfer sessions</li>
            <li>Diversity in products and projects development</li>
            <li>Latest technologies to work with</li>
            <li>Agile methodology (both Scrum and Kanban)</li>
            <li>Transparent performance management system</li>
            <li>After work gathering</li>
            <li>Partnerships with communities such as RoPython and JSHeroes</li>
            <li>Partnerships with Romanian Univesities</li>
          </ul>
        </div>
      </div>
    </div>
  </div>