<div class="card">
    <div class="card-badge spyhce-yellow">
      <div class="badge-content">3</div>
    </div>
    <div class="card-body">
      <div class="card-title">Jobs</div>
      <div class="card-text">
        <div class="header"></div>
        <div class="content">
          <p>
            After succesfully completing our internship programme, you could be...
            
          </p> 
        </div>
        <div class="dropdown-divider"></div>
        <!--  -->
        <div class="header">Benefits of working at Spyhce</div>
        <div class="content">
          <ul>
            <li>Non-corporate relaxed environment</li>
            <li>Flexible hours</li>
            <li>Experienced colleagues willing to share their knowledge</li>
            <li>Periodical knowledge transfer sessions</li>
            <li>Diversity in products and projects development</li>
            <li>Latest technologies to work with</li>
            <li>Agile methodology (both Scrum and Kanban)</li>
            <li>Transparent performance management system</li>
            <li>After work gathering</li>
            <li>Partnerships with communities such as RoPython and JSHeroes</li>
            <li>Partnerships with Romanian Univesities</li>
          </ul>
        </div>
      </div>
    </div>
  </div>