<div class="card">
  <div class="card-badge spyhce-red">
    <div class="badge-content">1</div>
  </div>
  <div class="card-body">
    <div class="card-title">Workshops</div>
    <div class="card-text">
      <div class="header">Requirements</div>
      <div class="content">
        <ul>
          <li>Some programming skills</li>
          <li>Own laptop</li>
          <li>Focus on web</li>
          <li>Interest in Python</li>
        </ul>
      </div>
      <div class="dropdown-divider"></div>
      <!--  -->
      <div class="header">What?</div>
      <div class="content">
        <ul>
          <li>Web fundamentals</li>
          <li>Python</li>
          <li>Django</li>
        </ul>
      </div>
      <div class="dropdown-divider"></div>
      <!--  -->
      <div class="header">How long?</div>
      <div class="content">
        <ul><li>2 weeks; 4 hours / day</li></ul>
      </div>
      <div class="dropdown-divider"></div>
      <!--  -->
      <div class="header">About</div>
      <div class="content">
        <p class="about-text">
          The workshop will take place in May, in two stages, both of them
          during the weekend. The sessions will have a time interval
          of two weeks between them and it will be a hands-on experience,
          with a main focus on how the <b>Internet</b> works and why are 
          <b>Python</b> and <b>Django</b> awesome tools for building web 
          applications.
        </p>
      </div>
    </div>
  </div>
</div>