<div class="card">
  <div class="card-badge spyhce-blue">
    <div class="badge-content">2</div>
  </div>
  <div class="card-body">
    <div class="card-title">Paid Internship</div>
    <div class="card-text">
      <div class="header">When?</div>
      <div class="content">
        <ul><li>After the exams; mid June</li></ul>
      </div>
      <div class="dropdown-divider"></div>
      <!--  -->
      <div class="header">What?</div>
      <div class="content">
        <ul>
          <li>Work with Python and Django</li>
          <li>Work with version control systems like GIT</li>
          <li>Team management knowledge: Agile, SCRUM</li>
          <li>Team management tools: JIRA</li>
          <li>Deployment on servers</li>
        </ul>
      </div>
      <div class="header">How long?</div>
      <div class="content">
        <ul><li>1 month</li></ul>
      </div>
      <!--  -->
      <div class="header">About</div>
      <div class="content">
        <p class="about-text">
          You will develop a small software project that will
          encompass all the languages, tools and methodologies
          listed above. This will teach you the basics about working
          in a software team, the day-to-day processes that happen, up 
          to the point where your project becomes mature enough and it
          is ready for production.
        </p>
        <p class="about-text">
          The project can be considered for a <b>bachelor's</b> 
          or even <b>master's</b> <b>degree</b>.
        </p>
      </div>
    </div>
  </div>
</div>