<div class="container-fluid">
  <app-welcome-header></app-welcome-header>
  <div class="container">
    <app-header></app-header>
    <app-sections></app-sections>
    <app-testimonials></app-testimonials>
    <app-apply></app-apply>
  </div>
</div>
<div class="card-footer app-footer">
  <div class="row contact-row">
    <div class="col-sm">
      <img src="assets/img/spyhce/spyhce.png" alt="" class="img-fluid float-right contact-img">
    </div>
    <div class="col-sm">
      <div class="contact">
        <div class="card-title">Contact</div>
        <div class="contact-text">
          <div class="location">Eftimie Murgu no. 35, Cluj Napoca</div>
          <div class="dropdown-divider"></div>
          <div class="name">Iulia Druță - <span>Operations Manager</span></div>
          <div class="email"><i>iulia.druta@spyhce.com</i></div>
          <div class="phone">(+40) 744 398 477</div>
        </div>
      </div>
    </div>
  </div>
</div>