@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.card {
  .card-badge {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top: -25px;
    left: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -2em;

    @media all and (min-width: 992px) {
      width: 100px;
      height: 100px;
      top: -50px;
      left: -50px;
      font-size: 28px;
    }
  }

  .card-title {
    font-size: 28px;
    font-weight: 100;
    text-transform: uppercase;
    border-bottom: 1px solid #e9ecef;
    margin-bottom: 1em;

    @media all and (min-width: 576px) {
      margin-left: 1em;
    }
  }

  .card-text {
    .header {
      font-weight: bold;
      margin-bottom: 0.5em;
    }
    @media all and (min-width: 576px) {
      margin-left: 2em;
    }
  }
  .content {
    text-align: justify;
  }
}

body {
  @media all and (min-width: 576px) {
    // user-select: none;
  }

  font-family: "Roboto" !important;
}


.spyhce-red {
  background-color: #d12e20;
  color: white;
}

.spyhce-blue {
  background-color: #5685ab;
  color: white;
}

.spyhce-yellow {
  background-color: #f1c40f;
}

.linkedin {
  background-color: #0077B5;
  color: white;
}